.fonctionnement{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2.5em;
    padding-top: 2em;
    padding-bottom: 2em;
    
    @media screen and (min-width: 450px){
        align-items: center;
    }
    &__button__layout{
        width: 90%;
        min-width: 275px;
        max-width: 350px;
    }
}