body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  text-align: center;
  padding: 1.5rem;
}

.fa-arrow-left {
  position: absolute;
  left: 20px;
  top: 36px;
}

.explore {
  background: #f6f6f6;
  text-align: center;
}

.explore__localisation {
  background: #eaeaea;
  box-shadow: inset 0px 28px 15px -30px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: baseline;
  color: #353535;
}

.explore__localisation > p {
  font-weight: 600;
  padding: 1rem;
}

.explore__body {
  padding: 2em;
}

.explore__body > h2 {
  font-weight: 800;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.explore__body > p {
  margin-bottom: 2rem;
  font-weight: 300;
}

.explore__button {
  background: linear-gradient(173deg, #ff79da 0%, rgba(147, 86, 220, 0.738471) 75%);
  border-radius: 50px;
  border: 0;
  box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.2);
  padding: 1em 2em;
  color: white;
  font-family: inherit;
  font-weight: 500;
  margin-bottom: 1em;
  letter-spacing: 0.5px;
  min-width: 200px;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.fonctionnement > h2 {
  font-weight: 700;
  margin: 0;
}

.fonctionnement__button__layout {
  width: 90%;
}

.fonctionnement__button {
  position: relative;
  background: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1.5rem auto;
  padding: 1em;
  font-weight: 600;
}

.fonctionnement__button::before {
  content: "2";
  position: absolute;
  left: -10px;
  background: #9356DC;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  text-align: center;
  color: white;
  font-size: 0.9rem;
}

.fonctionnement__button > .fas {
  color: #7e7e7e;
}

.fonctionnement__button:hover {
  background: #f5edff;
}

.fonctionnement__button:hover .fas {
  color: #9356DC;
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  background: #f6f6f6;
}

.restaurants > h2 {
  margin-bottom: 1em;
}

.restaurants-card {
  background: white;
  border-radius: 15px;
  width: 90%;
  margin-bottom: 20px;
}

.restaurants-card__img {
  border-radius: 20px 20px 0px 0px;
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.restaurants-card__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8em;
  width: 100%;
}

.restaurants-card__body h2 {
  font-weight: 800;
  font-size: 1rem;
  margin-bottom: 3px;
}

.restaurants-card__body p {
  font-size: 0.9rem;
  font-weight: 300;
}

.restaurants-card__body > .far {
  font-size: 20px;
  padding-right: 2rem;
}

.restaurants-card-new {
  position: relative;
}

.restaurants-card-new::before {
  position: absolute;
  top: 15px;
  right: 15px;
  content: "Nouveau";
  background: #99e2d0;
  color: #008766;
  padding: 5px 10px;
  font-size: 13px;
  font-weight: 600;
}

.restaurant-name-font {
  font-family: 'Shrikhand', cursive;
  font-weight: 400;
}

footer {
  background-color: #353535;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

footer .fas {
  padding-right: 0.5rem;
}

footer > ul {
  list-style: none;
  padding: 0;
}

footer > ul li {
  padding-bottom: 0.5rem;
}

.restaurant-menu__img {
  width: 100%;
}

.restaurant-menu__body {
  top: 200px;
  background: #f6f6f6;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.restaurant-menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.restaurant-menu__header > i {
  font-size: 22px;
}

.restaurant-menu__categorie {
  padding-left: 10px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.restaurant-menu__categorie > h2 {
  font-size: 16px;
  font-weight: 300;
}

.restaurant-menu__categorie::after {
  content: "";
  display: block;
  border-bottom: 1px solid #99e2d0;
  width: 10%;
}

.restaurant-menu__content-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

.restaurant-menu__item {
  font-size: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 90%;
  background: white;
  box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  border-radius: 15px;
}

.command-button {
  padding-top: 3em;
  padding-bottom: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*# sourceMappingURL=style.css.map */