.fa-heart{
    position: absolute;
    &--empty{
        opacity: 1;
        font-size: 25px;
    }
    &--gradiant{
        font-size: 25px;
        opacity: 0;
        font-weight: 800 !important;
        background-clip: content-box;
        background: rgb(255,121,218);
        background: linear-gradient(173deg, rgba(255,121,218,1) 6%, rgba(147,86,220,0.7384713847985429) 56%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
    }
 }

 .heart-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    &:hover {         
       .fa-heart--gradiant{
           animation: gradiant-heart-fading 600ms ease-in-out;
           opacity: 1;
       }
       .fa-heart--empty{
           animation: empty-heart-fading 600ms ease-in-out;
           opacity: 0;
       }
    }
}